// Global responsive area start here ***
@media screen and (max-width: 991px) {
	br {
		display: none;
	}
}
@media screen and (max-width: 425px) {
	.section-padding {
		padding: 65px 0;
	}
	.section-margin {
		margin: 65px 0;
	}
	.section-header {
		h2 {
			font-size: 30px;
			font-weight: 600;
			line-height: 38px;
		}
	}
}
// Global responsive area end here ***

// Header responsive area start here ***

// Header responsive area end here ***

// Banner responsive area start here ***

// Banner responsive area end here ***

// All section responsive area end here ***

// All section responsive area end here ***

// Footer responsive area start here ***

// Footer responsive area end here ***
