:root {
	// Font family ***
	--spartan: "League Spartan", sans-serif;
	--poppins: "Poppins", sans-serif;

	// Colors ***
	--primary-color: #2eb97e;
	--secondary-color: #181818;
	--sub-bg: #eef2f3;
	--sub-bg-two: #faf9f6;
	--heading-color: #181818;
	--paragraph: #808080;
	--paragraph-light: rgba(255, 255, 255, 0.8);
	--span: #808080;
	--border: #e5e5e5;
	--white: #ffffff;
	--black: #000000;

	// Transitions ***
	--transition: all 0.5s;

	// Box shadow ***
	--shadow: 0px 4px 25px 0px #0000000f;
}
